 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>

            <!-- Description Text -->
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6">
                    <p>I'm a Digital & Mobile Strategy professional, an Android developer, a runner, and a serious coffee addict.</p>
                    <p>I have an M.B.A. from NYU's Stern School of Business, a B.A. from the University of Rochester, and training in Android Development & Mobile Design from Google's Android Development Immersive with General Assembly.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p>Currently, I'm a Senior Partner at Citia advising clients on Digital Content & Social Strategy and their implementation of Citia's Web-based SaaS Platform. Internally, I build business cases supporting New Business Development and Product Strategy.</p>
                    <p>Prior to my current role I was a Management Consultant in IBM's Strategy & Analytics group, a Marketing Manager for AIG's Accident & Health products, and an Account Executive on Verizon FiOS' & Pfizer's advertising accounts.</p>
                </div>
            </div>

            <!-- Profiles Links -->
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                    <hr>
                </div>

                <!-- Google Play Store -->
                <div class="col-lg-2 col-lg-offset-2 col-md-3 col-sm-6">
                    <a href='https://play.google.com/store/apps/developer?id=KwonDeveloper' target="_blank">
                        <img class="play-store-profile-badge" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                    </a>
                </div>

                <!-- GitHub -->
                <div class="col-lg-2 col-md-3 col-sm-6 text-center">
                    <a class="btn btn-sm btn-outline github-profile-link" href="https://github.com/MikeKwon36" target="_blank">
                        <i class="fa fa-github"></i>
                        <span class="small">GitHub</span>
                    </a>
                </div>

                <!-- LinkedIn -->
                <div class="col-lg-2 col-md-3 col-sm-6 text-center">
                    <a class="btn btn-sm btn-outline linkedin-profile-link" href="https://www.linkedin.com/in/michaelkwon36" target="_blank">
                        <i class="fa fa-linkedin-square"></i>
                        <span class="small">LinkedIn</span>
                    </a>
                </div>

                <!-- General Assembly Profile -->
                <div class="col-lg-2 col-md-3 col-sm-6 text-center">
                    <a class="btn btn-sm btn-outline ga-profile-link" href="https://profiles.generalassemb.ly/profiles/michaelkwon" target="_blank">
                        <img class="ga-logo" src="img/ga-logo.png"/>
                        <span class="small">General Assembly</span>
                    </a>
                </div>

            </div>

        </div>
    </section>
